*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    border: border-box;
    color: black;
    box-sizing: border-box;
}


header{
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    right: 0px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background: #24262b;
    padding-left: 2px;


}

.logo img{
    width: 120px;
    height: 50px;
    left: 2px;
    margin-left: 20px;
}    

.navmenu{
    display: flex;
}

.navmenu a{
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
    padding: 10px 30px;
    
    margin: 0px 20px 0px 110px;
    font-weight: 400;
    transition: all .42s ease;
    border-radius: 50px;
    background-color: #ffffff;
}

.navmenu a:hover{
    color: #e91e63;
}

.navicon{
    display: flex;
    align-items: center;
}

.navicon i{
    margin-right: 20px;
    color: rgb(250, 248, 248);
    font-size: 25px;
    transition: all .42s ease;
}

.navicon i:hover{
    transform: scale(1.1);
    color:#e91e63;
}

.slide{
    header{
        width: 100%;
        height: 100vh;
        display: grid;
        place-items: center;
}
}

.imgslider{
    width: 60%;
    height: 600vh;
    background-image: url(tools/2.jpg);
}

.banner img{
    width: 100%;
    height: 540px;
}



        .container{
    width: 100%;
    margin: auto; 
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}



  .body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }
  
  
  .leftcolumn {
    float: left;
    width: 65%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 35%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }


.footer{
    background-color: #24262b;
    padding: 20px ;

}

.footer-col{
    width: 20%;
    padding: 20px;
    margin-left: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.sociallink i{
    color: white;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transform: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;

}

.footer-col .sociallink a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(225, 225, 225, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    color: #ffffff;
}

.footer-col .sociallink a:hover{
    color: #24262b;
    background-color: #e91e63;
}

.top{
    padding: 20px;
    color: #ffffff;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    text-align: center;
    background-color: rgba(225, 225, 225, 20);
    margin: 0%;
    font-weight: 600;
}